name: "typhoon"

on:
  push:
    branches:
      - main
  pull_request:
    paths:
      - '.swiftlint.yml'
      - ".github/workflows/**"
      - "Package.swift"
      - "Source/**"
      - "Tests/**"

permissions:
  contents: read

concurrency:
  group: typhoon-${{ github.head_ref }}
  cancel-in-progress: true

env:
  SCHEME_NAME: "Typhoon"

jobs:
  test-apple-platforms:
    name: ${{ matrix.name }}
    runs-on: ${{ matrix.runsOn }}
    env:
      DEVELOPER_DIR: "/Applications/${{ matrix.xcode }}.app/Contents/Developer"
    timeout-minutes: 20
    strategy:
      fail-fast: false
      matrix:
        include:
          # macOS
          - { platform: macOS, name: "macOS 26, Xcode 26.0, Swift 6.2.0", xcode: "Xcode_26.0.1", runsOn: macOS-26, destination: "platform=macOS" }
          - { platform: macOS, name: "macOS 14, Xcode 16.1, Swift 6.0.2", xcode: "Xcode_16.1", runsOn: macOS-14, destination: "platform=macOS" }
          - { platform: macOS, name: "macOS 14, Xcode 15.4, Swift 5.10", xcode: "Xcode_15.4", runsOn: macOS-14, destination: "platform=macOS" }

          # iOS
          - { platform: iOS, name: "iOS 26.0, Xcode 26.0, Swift 6.2.0", xcode: "Xcode_26.0.1", runsOn: macOS-26, destination: "OS=26.0.1,name=iPhone 17 Pro" }
          - { platform: iOS, name: "iOS 18.1", xcode: "Xcode_16.1", runsOn: macOS-14, destination: "OS=18.1,name=iPhone 16 Pro" }
          - { platform: iOS, name: "iOS 17.4", xcode: "Xcode_15.3", runsOn: macOS-14, destination: "OS=17.4,name=iPhone 15 Pro" }

          # tvOS
          - { platform: tvOS, name: "tvOS 26.0", xcode: "Xcode_26.0.1", runsOn: macOS-26, destination: "OS=26.0,name=Apple TV" }
          - { platform: tvOS, name: "tvOS 18.1", xcode: "Xcode_16.1", runsOn: macOS-14, destination: "OS=18.1,name=Apple TV" }
          - { platform: tvOS, name: "tvOS 17.4", xcode: "Xcode_15.3", runsOn: macOS-14, destination: "OS=17.4,name=Apple TV" }

          # watchOS
          - { platform: watchOS, name: "watchOS 26.0", xcode: "Xcode_26.0.1", runsOn: macOS-26, destination: "OS=26.0,name=Apple Watch Ultra 3 (49mm)" }
          - { platform: watchOS, name: "watchOS 11.1", xcode: "Xcode_16.1", runsOn: macOS-14, destination: "OS=11.1,name=Apple Watch Series 10 (46mm)" }
          - { platform: watchOS, name: "watchOS 10.5", xcode: "Xcode_15.3", runsOn: macOS-14, destination: "OS=10.5,name=Apple Watch Series 9 (45mm)" }
          - { platform: watchOS, name: "watchOS 10.4", xcode: "Xcode_15.3", runsOn: macOS-14, destination: "OS=10.4,name=Apple Watch Series 9 (45mm)" }
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
      - name: Run tests - ${{ matrix.name }}
        run: |
          xcodebuild test \
            -scheme "${{ env.SCHEME_NAME }}" \
            -destination "${{ matrix.destination }}" \
            -enableCodeCoverage YES \
            -resultBundlePath "test_output/${{ matrix.name }}.xcresult" \
            clean || exit 1
      - name: Upload test coverage to Codecov
        uses: space-code/oss-common-actions/.github/actions/upload_test_coverage_report@main
        with:
          scheme_name: ${{ env.SCHEME_NAME }}
          filename: ${{ matrix.name }}
          token: ${{ secrets.CODECOV_TOKEN }}

  spm-build:
    name: ${{ matrix.name }}
    runs-on: ${{ matrix.runsOn }}
    env:
      DEVELOPER_DIR: "/Applications/${{ matrix.xcode }}.app/Contents/Developer"
    timeout-minutes: 20
    strategy:
      fail-fast: false
      matrix:
        include:
          - { name: "macOS 26, SPM 6.2.0", xcode: "Xcode_26.0.1", runsOn: macOS-26 }
          - { name: "macOS 15, SPM 6.0.2", xcode: "Xcode_16.0", runsOn: macOS-15 }
          - { name: "macOS 14, SPM 6.0.2", xcode: "Xcode_16.1", runsOn: macOS-14 }
          - { name: "macOS 14, SPM 5.10.0", xcode: "Xcode_15.3", runsOn: macOS-14 }
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
      - name: Build with Swift Package Manager - ${{ matrix.name }}
        run: swift build -c release

  test-linux:
    name: Linux
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          - image: swift:6.0-focal
          - image: swift:6.0-jammy
          - image: swift:6.0-rhel-ubi9
          - image: swift:6.1-focal
          - image: swift:6.1-jammy
          - image: swift:6.1-rhel-ubi9
          - image: swift:6.2-bookworm
          - image: swift:6.2-jammy
          - image: swift:6.2-noble
          - image: swift:6.2-rhel-ubi9
          - image: swiftlang/swift:nightly-focal
          - image: swiftlang/swift:nightly-jammy
    container:
      image: ${{ matrix.image }}
    timeout-minutes: 10
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
      - name: ${{ matrix.image }}
        run: swift build --build-tests -c debug

  test-android:
    name: Android
    strategy:
      fail-fast: false
    runs-on: ubuntu-latest
    timeout-minutes: 15
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
      - name: Build for Android
        uses: skiptools/swift-android-action@v2
        with:
          build-tests: true
          run-tests: false

  merge-test-reports:
    needs: test-apple-platforms
    runs-on: macos-15
    steps:
      - name: Download artifacts
        uses: actions/download-artifact@v7
        with:
          path: test_output

      - run: xcrun xcresulttool merge test_output/**/*.xcresult --output-path test_output/final/final.xcresult
  
      - name: Upload merged test results
        uses: actions/upload-artifact@v6
        with:
          name: MergedTestResults
          path: test_output/final
          retention-days: 30